.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 60px;
  }
  
  p {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .btn {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 5px;
    text-decoration: none;
  }
  